/* .date-align-right {
    font-size: smaller;
    color:white;
    text-align: right;
}

.username-link {
    font-size: smaller;
    color:red;
    text-decoration: none;
}

.date-align-left{
    font-size: smaller;
    color:green;
    text-align: right;
} */

/* .date-align-left {
    font-size: smaller;
    color:grey;
    text-align: left;
} */

/* .userName-align-left {
    font-size: smaller;
    color:grey;
}

.userName-align-left-blue {
    color: #3f51b5

}


.navbar-link-font{
 margin-left: 40px;
 text-decoration: none;
 font-size: 14px;
 display: flex;
 align-items: center;

}

.link-font {
    color: grey;
    font-size: 14px;
    margin-left: 10px;
    text-decoration: none;
}

.navbar-link-font-active{
    color: white;
    font-size: 14px;
    margin-left: 10px;
    text-decoration: none;
}

.message-style {
    display: flex;
    width: 200px;
    flex-wrap: wrap;
    box-sizing: border-box;
} */
